fastapi>=0.115.0
uvicorn==0.29.0
sqlalchemy>=2.0.40
alembic==1.13.1
asyncpg>=0.30.0
psycopg[binary]==3.2.13
pydantic>=2.11
pydantic-settings>=2.7
celery==5.3.6
redis==5.0.3
yt-dlp
moviepy==1.0.3
python-multipart==0.0.9
requests==2.31.0
anthropic>=0.42.0
google-generativeai>=0.8.0
openai==1.59.5
google-auth-oauthlib==1.2.0
google-api-python-client==2.122.0
google-auth==2.28.2
itsdangerous==2.2.0
python-dotenv==1.0.1

faster-whisper==1.0.3
